* {
	font-family: Helvetica;
	font-size: 20px;
	color: white;
}

h1 {
	color: #262626;
	text-align: center;
}

button {
	background-color: #262626;
	border-style: none;
	border-radius: 0.5em;
	padding: 0.3em;
}

button:disabled {
	background-color: #545454;
	color: #bababa;
}

button:hover {
	background-color: #9e9e9e
}

.game {
	width: 800px;
	margin: auto;
	padding: 20px;
	border: 3px solid #262626;
	border-radius: 10px;
	background-color: #3c8938;
}

.bet {
	padding: 10px;
	border: 5px double #262626;
	border-radius: 5px;
}

.left, .right {
	display: inline-block;
	width: 49%;
}

.play {
	padding: 10px;
	display: none;
}

#play, #hit, #stay{
	width: 100px;
}

.highlighted {
	-webkit-animation-name: highlight;
	-webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes highlight {
    0% {
			background-color: orange;
			opacity: 1;
    }
    100% {
			background-color: #fff;
    }
}

.card {
	width: 81px;
	height: 117px;
	background: url('cards_sprite.gif') no-repeat;
	display: inline-block;
	margin: 5px;
	-webkit-animation-name: slidein;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes slidein {
    0% {
			transform: translate(0, 40px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
