* {
	font-family: Helvetica;
	font-size: 20px;
}

.game {
	width: 100%;
	height: 400px;
	margin: auto;
}

.bet {
	width: 400px;
	height: 100%;
	float: left;
}

#play, #hit, #stay{
	width: 100px;
}

.highlighted {
	-webkit-animation-name: demo;
	-webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes demo {
    0% {
        background-color: orange;
        opacity:1;
    }
    100% {
        background-color: #fff;
    }
}
